$accent-color: #EF7E5C;
$arrow-selected: #bdbbff;
$brand: #7583FF;
$brand-hover: #85aaff;
$dark-purple: #272940;
$gray: #F1EFEF;
$gray-border: #c6c6c6;
$gray-text: #828282;
$light-gray: #F3F3F3;
$primary-text: #3C3E53;
$opaque-purple: #4B539B;
$pale-green: #6FB8A5;
$pale-lavanda: #EAECFF;
$pale-white: #F5F6FF;
//Panel Container
$shadow: rgba(19, 26, 88, 0.16);

//Boxedview
$close-button-color: #E9E9E9;
$close-button-bg: #D8D7D7;
$input-background: #EBEBEB;
$input-text-color: #666666;
$input-subtitle-color: #C2C2C2;
$input-secondary-text-color: #A7A7A7;
$button-shadow: #808080;
